*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.button-blue{
    background-color: #0061FF;
    padding: 5px;
    color: white;
    text-align: center;
}


/* INIZIO HEADER */

header{
    width: 100%;
    min-height: 50px;
    background-color: white;
    padding-inline: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    position: fixed;
    z-index: 1;
    top: 0;
}

#right-head{
    display: flex;
    align-items: center;
    gap: 30px;
}

#left-head{
    display: flex;
    align-items: center;
    gap: 30px;
}

header #left-head .header-span{
    background-color: white;
    line-height: 49px;
}

header #right-head .header-span{
    background-color: white;
    line-height: 49px;
}


header .header-span:hover{
    border-bottom: 1px solid BLACK;
}

/* FINE HEADER */

/* SECT-1 CON SFONDO BLU */

#sect-1{
    /* height: 800px; */
    padding-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#b4d0e7 ;

    align-items: center;
    padding-inline: 20px;

}

h1{
    width: 80%;
    margin: auto;
    font-size: 70px;

}

#text-img-container{
    display: flex;
    flex-direction: row;
    width: 80%;


    position: relative;
    top: 60px;
}

#text-sect1{
   width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

}

figure{

    width: 60%;

}

#text-img-container figure img{
  width:100% ;

/* position: absolute;
top:0px;
bottom:0px; */
}

#text-sect1 .button-blue{
    /* width: 45%; */
    padding: 8px;
}

#text-sect1 a{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
/* FINE SEZ 1 */


/* SEZIONE 2 */

#sect-2{
    margin-top: 200px;
    width: 60%;
    margin-inline:auto;
    /* background-color: lightblue; */
}

#sect-2 h2{
    font-size: 40px;
    margin-bottom: 30px;
}

#head-sect2{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#sect-2 #head-sect2 .container-round{
    display: flex;
    flex-direction: row;

}

#sect-2 #head-sect2 .container-round .round-button{
    width: 20px;
    height: 20px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
/* FINE HEADER SEZIONE 2 */

/* CARDS SEZIONE 2 */

#container-cards{
    /* height: 1000px; */
    width: 100%;
    
    display: flex;
    gap: 40px;
}

.card{
    /* height: 200px; */
    width: calc(100% / 3);
   

    display: flex;
    flex-direction: column;
   

    
    border: 1px solid lightgray;

}

.header-card{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 10px;
}
/* FINE HEADER CARD */

.top-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
/* FINE TOP-CARD */

.mid-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.card .mid-card .button-blue{
    padding: 10px;
    margin-top: 20px;
    
}

.card .mid-card hr{
    width: 30%;
    background-color: lightgray;
    border: none;
    height: 1px;
}
/* FINE MID-CARD */

.bottom-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* FOOTER SECT 2 */

#footer-sect-2{
    width: 100%;
    margin-inline: auto;
    margin-top: 50px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    

}

.body-foot-sect2{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-foot-sect2 #foot-sect2-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.body-foot-sect2 .button-blue{
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

#footer-sect-2 p{
    padding: 20px;
}

/* INIZIO SEZIONE 3 */

#sect-3{
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    gap: 50px;
}

#sect-3 figure{
    width: 50%;
    height: 400px;
}

#sect-3 figure img{
    width: 100%;
    height: 100%;
}

#sect-3 #right-sect3{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: center;
    align-items: flex-start;

    font-size: 20px;
}

#sect-3 #right-sect3 a{
    color: black;
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
}

/* INIZIO SEZIONE 4 */

#sect-4{
    margin-top: 100px;
}

#sect-4 h2{
    width: 60%;
    margin: auto;
    padding-inline: 30px;
}

#container-cards-sect4{
    width: 60%;
    

    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.card-sect4{
    width: calc(100% / 3);
    /* padding: 30px; */
}

#container-cards-sect4 figure{
    width: 100%;
   
}

#container-cards-sect4 figure img{
    width: 100%;
}

.card-sect4 .txt-sect4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}