*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-blue{
    background-color: #0061FF;
    padding: 5px;
    color: white;
}


/* INIZIO HEADER */

header{
    width: 100%;
    min-height: 50px;
    /* background-color: red; */
    padding-inline: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
}

#right-head{
    display: flex;
    align-items: center;
    gap: 30px;
}

#left-head{
    display: flex;
    align-items: center;
    gap: 30px;
}

header #left-head .header-span{
    background-color: white;
    line-height: 50px;
}

header #right-head .header-span{
    background-color: white;
    line-height: 50px;
}


header .header-span:hover{
    border-bottom: 1px solid lightgray;
}

/* FINE HEADER */

/* SECT-1 CON SFONDO BLU */

#sect-1{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#b4d0e7 ;
    
    align-items: center;
    padding: 20px;

}

h1{
    width: 60%;
    margin: auto;
    
}

#text-img-container{
    display: flex;
    flex-direction: row;
    width: 60%;
  

    position: relative;
    top: 80px;
}

#text-sect1{
   width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
}

figure{
    
    width: 60%;
    
}

#text-img-container figure img{
  width:100% ;
  
/* position: absolute;
top:0px;
bottom:0px; */
}

#text-sect1 .button-blue{
    width: 45%;
    padding: 5px;
}

#text-sect1 a{
    font-size: 50px;
    text-decoration: none;
    color: black;
}